<!DOCTYPE html> 
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>보도자료 - 등록</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/jquery.easing.1.3.min.js"></script>
		<script src="../js/common.js"></script>
		<link rel="stylesheet" href="../css/feCommon.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR" rel="stylesheet">
	</head>
	<body>	
		<div id="wrap">
			<a href="#content" class="skipToContent">본문으로 바로가기</a>
			<!-- #header -->
			<header id="header" class="header">
				<h1 class="logo"><a href="main.html"><img src="../img/common/logo.png" alt="11번가"></a></h1>
				<div class="searchWrap">
					<h2 class="hideEl">전체검색</h2>
					<form action="/" method="">
						<fieldset>
							<legend>전체 검색</legend>
							<label for="totSearchInp" class="hideEl">검색어 입력</label>
							<input type="text" id="totSearchInp" class="totSearchInp" title="전체 검색" placeholder="검색어를 입력해주세요.">
							<button type="submit" class="hideTxt">검색</button>
						</fieldset>
					</form>
				</div>
					
				<div class="gnbWrap">
					<div class="topMenuWrap">
						<span>
							<img src="https://dummyimage.com/60x60/e0002a/fff" alt="">
						</span>
						<span class="user">
							<strong>심재윤 님</strong>
							환영합니다!
						</span>
						<!-- topMenu -->
						<ul class="topMenu">
							<li><a href="/">정보수정</a></li>
							<li><a href="/">로그아웃</a></li>
						</ul>
						<!-- //topMenu -->
					</div> 					
					<nav class="gnb">
						<h2 class="hideEl">메뉴 네비게이션</h2>
						<ul class="gnbList">
							<li><a href="layout01_list.html">언론정보</a></li>
							<li class="current"><a href="layout02_list.html">보도자료</a></li>
							<li><a href="layout03_list.html">취재협조</a></li>
							<li><a href="layout04_list.html">ISSUE</a></li>
							<li><a href="layout05_list.html">참고자료</a></li>
							<li><a href="layout06_list.html">동향</a></li>
							<li><a href="member_list.html">계정관리</a></li>
							<li>
								<a href="javascript:return false;">설정</a>
								<ul>
									<li><a href="board_list.html">게시판 관리</a></li>
									<li><a href="menu_list.html">메뉴 관리</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<p class="copyright">Copyright © 2018 11Street<br>Co.,Ltd. All Rights Reserved.</p>
				</div>	
			</header>		
			<!--// #header -->

			<div id="container">
				<main id="content" class="mainCont">
					<div class="heading heading-depth01">
						<h2 class="title">보도자료 등록</h2>
					</div>
					<div class="listBoard mr_t">
						<form action="/" method="">
							<div class="table_type02">
								<table cellspacing='0' cellpadding='0' border="0">
									<colgroup>
										<col style="width:167px">
										<col>
										<col style="width:110px">
									</colgroup>
									<tbody>
										<tr>
											<th scope="row"><div>분류</div></th>	
											<td colspan="2">
												<select class="large">
													<option value="" selected>분류를 선택해 주세요</option>
													<option value="">2</option>
													<option value="">3</option>
													<option value="">4</option>
													<option value="">5</option>
												</select>												
											</td>	
										</tr>
										<tr>
											<th scope="row"><div>제목</div></th>	
											<td colspan="2"><div><input type="text" value=""></div></td>	
										</tr>								
										<tr>
											<th scope="row" rowspan="2"><div>썸네일</div></th>	
											<td colspan="2">
												<span class="regist_file contact_file"><label class="button-white">파일선택<input type="file" value="" onchange="fileCheck(this,'type1','file01')" accept="image/gif, image/jpeg, image/png"/></label></span><span class="color_gray">※이미지 파일만 업로드 가능합니다.</span>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="profile">
													<span class="img">
														<img src="../img/common/no-image.jpg" alt="이미지첨부">
													</span>
													<ul class="file01">
														<li><input class="name ellipsis" type="text" value="선택된 파일이 없습니다." disabled/></li>
														<li><input class="size ellipsis" type="text" value="0KB" disabled/></li>
													</ul>
													<span class="btn_delete"><button type="button" class="button" onclick="removeFile('file01');">삭제</button></span>
												</div>
											</td>	
										</tr>
										<tr>
											<th scope="row"><div>Editor</div></th>	
											<td colspan="2">
												<div class="editarea none">
												<!--에디트 출력 영역-->
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터
												에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터 에디터	
												</div>
											</td>	
										</tr>
										<tr>
											<th scope="row"><div>파일업로드</div></th>	
											<td colspan="2">
												<span class="regist_file contact_file"><label class="button-white">파일선택<input type="file" value="선택된 파일이 없습니다." onchange="fileCheck(this,'type3');"/></label></span><span class="color_gray">※문서 및 이미지 파일만 업로드 가능합니다.</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div><!--table_type02-->
						</form>
					</div>
					<div class="btnWrap whitearea alignR">
						<a href="layout02_list.html" class="button">취소</a>
						<button type="button" class="button-red">저장</button>	
					</div>
				</main>
			</div>		
		</div>
	</body>
</html>	
	  	