<!DOCTYPE html> 
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>로그인화면</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/jquery.easing.1.3.min.js"></script>
	<script src="../js/common.js"></script>
	<link rel="stylesheet" href="../css/feCommon.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR" rel="stylesheet">
</head>
<body>
	<div class="login_form">
		<div class="log">
			<form action="/" method="">
				<h3 class="title">홍보팀 내부 업무 관리</h3>
				<ul>
					<li class="log_id">
						<input type="text" value=""/>						
					</li>
					<li class="log_pw">
						<input type="password" maxlength="15" value=""/>						
					</li>					
				</ul>
				<div class="btn_login">
					<button type="submit">로그인</button>
				</div>					
			</form>	
		</div>
	</div>	

</body>
</html>	