<!DOCTYPE html> 
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>관리자 계정 등록</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/jquery.easing.1.3.min.js"></script>
		<script src="../js/common.js"></script>
		<link rel="stylesheet" href="../css/feCommon.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR" rel="stylesheet">
	</head>
	<body>	
		<div id="wrap">
			<a href="#content" class="skipToContent">본문으로 바로가기</a>
			<!-- #header -->
			<header id="header" class="header">
				<h1 class="logo"><a href="main.html"><img src="../img/common/logo.png" alt="11번가"></a></h1>
				<div class="searchWrap">
					<h2 class="hideEl">전체검색</h2>
					<form action="/" method="">
						<fieldset>
							<legend>전체 검색</legend>
							<label for="totSearchInp" class="hideEl">검색어 입력</label>
							<input type="text" id="totSearchInp" class="totSearchInp" title="전체 검색" placeholder="검색어를 입력해주세요.">
							<button type="submit" class="hideTxt">검색</button>
						</fieldset>
					</form>
				</div>
					
				<div class="gnbWrap">
					<div class="topMenuWrap">
						<span>
							<img src="https://dummyimage.com/60x60/e0002a/fff" alt="">
						</span>
						<span class="user">
							<strong>심재윤 님</strong>
							환영합니다!
						</span>
						<!-- topMenu -->
						<ul class="topMenu">
							<li><a href="/">정보수정</a></li>
							<li><a href="/">로그아웃</a></li>
						</ul>
						<!-- //topMenu -->
					</div> 					
					<nav class="gnb">
						<h2 class="hideEl">메뉴 네비게이션</h2>
						<ul class="gnbList">
							<li><a href="layout01_list.html">언론정보</a></li>
							<li><a href="layout02_list.html">보도자료</a></li>
							<li><a href="layout03_list.html">취재협조</a></li>
							<li><a href="layout04_list.html">ISSUE</a></li>
							<li><a href="layout05_list.html">참고자료</a></li>
							<li><a href="layout06_list.html">동향</a></li>
							<li class="current"><a href="member_list.html">계정관리</a></li>
							<li>
								<a href="javascript:return false;">설정</a>
								<ul>
									<li><a href="board_list.html">게시판 관리</a></li>
									<li><a href="menu_set.html">메뉴 관리</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<p class="copyright">Copyright © 2018 11Street<br>Co.,Ltd. All Rights Reserved.</p>
				</div>	
			</header>		
			<!--// #header -->

			<div id="container">
				<main id="content" class="mainCont">
					<div class="heading heading-depth01">
						<h2 class="title">관리자 계정 등록</h2>
					</div>
					<div class="listBoard">
						<form action="/" method="" name="frm">
							<div class="table_type02 mid">
								<table cellspacing='0' cellpadding='0' border="0">		
									<colgroup>
										<col style="width:167px;">
										<col>
										<col style="width:120px">
									</colgroup>
									<tbody>
										<tr>
											<th scope="row"><div>아이디</div></th>	
											<td colspan="2">
												<div><input type="text" value="" name="" style="width:375px;"><button class="button" type="submit" style="margin-left:10px;">중복확인</button></div>
											</td>	
										</tr>
										<tr>
											<th scope="row" rowspan="2"><div>비밀번호</div></th>	
											<td colspan="2"><div><input type="password" value="" maxlength="15"></div></td>	
										</tr>
										<tr>
											<td>※ 비밀번호는 대문자 + 숫자 + 특수문자를 필수로 조합하여 입력해주세요.</td>	
										</tr>
										<tr>
											<th scope="row"><div>비밀번호 확인</div></th>	
											<td colspan="2"><div><input type="password" value="" maxlength="15"></div></td>	
										</tr>
										<tr>
											<th scope="row"><div>이름</div></th>	
											<td colspan="2"><div><input type="text" value=""></div></td>	
										</tr>
										<tr>
											<th scope="row"><div>소속</div></th>	
											<td colspan="2"><div><input type="text" value=""></div></td>
										</tr>
										<tr>
											<th scope="row"><div>연락처</div></th>	
											<td colspan="2"><div><input type="text" value=""></div></td>
										</tr>
										<tr>
											<th scope="row"><div>권한구분</div></th>	
											<td colspan="2">
												<select class="large">
													<option value="">일반관리자</option>
													<option value="">일반관리자</option>
													<option value="">일반관리자</option>
												</select>
											</td>	
										</tr>
										<tr>
											<th scope="row"><div>접근권한</div></th>	
											<td colspan="2">
												<span class="set_check">
													<input id="chkAcc01" type="checkbox" name="" value="">
													<label for="chkAcc01">언론정보</label>	
												</span>
												<span class="set_check">
													<input id="chkAcc02" type="checkbox" name="" value="">
													<label for="chkAcc02">보도자료</label>	
												</span>
												<span class="set_check">
													<input id="chkAcc03" type="checkbox" name="" value="">
													<label for="chkAcc03">취재협조</label>	
												</span>
												<span class="set_check">
													<input id="chkAcc04" type="checkbox" name="" value="">
													<label for="chkAcc04">이슈</label>	
												</span>
												<span class="set_check">
													<input id="chkAcc05" type="checkbox" name="" value="">
													<label for="chkAcc05">참고자료</label>	
												</span>
												<span class="set_check">
													<input id="chkAcc06" type="checkbox" name="" value="">
													<label for="chkAcc06">동향</label>	
												</span>
											</td>	
										</tr>
									</tbody>
								</table>
							</div><!--table_type02-->
						</form>
					</div>
					<div class="btnWrap whitearea alignR">
						<a href="member_list.html" class="button">취소</a>
						<button type="submit" class="button-red">저장</button>	
					</div>
				</main>
			</div>		
		</div><!--//wrap-->
		<div class="set_board_popup">
			<h3 class="title">카테고리 관리</h3>
			<span class="btn_close" onclick="layer_pop();"><img src="../img/common/btn_close.png"></span>
			<div class="subBoard">
				<div class="cate_name"><span>카테고리 명</span><input type="text" class=""><button type="submit" class="button_searh">검색</button></div>
				<div class="cate_list"><span>카테고리 목록</span></div>
				<ul>
					<li>
						<div class="listname">십일절</div>
						<span class="up"><a href="#"><img src="../img/common/bg_arr_up.png"></a></span>
						<span class="down"><a href="#"><img src="../img/common/bg_arr_down.png"></a></span>
						<span class="del"><a href="#"><img src="../img/common/btn_close2.png"></a></span>
					</li>
					<li>
						<div class="listname">거래액&#x2F;실적</div>
						<span class="up"><a href="#"><img src="../img/common/bg_arr_up.png"></a></span>
						<span class="down"><a href="#"><img src="../img/common/bg_arr_down.png"></a></span>
						<span class="del"><a href="#"><img src="../img/common/btn_close2.png"></a></span>
					</li>
					<li>
						<div class="listname">Negative</div>
						<span class="up"><a href="#"><img src="../img/common/bg_arr_up.png"></a></span>
						<span class="down"><a href="#"><img src="../img/common/bg_arr_down.png"></a></span>
						<span class="del"><a href="#"><img src="../img/common/btn_close2.png"></a></span>
					</li>
					<li>
						<div class="listname">정책</div>
						<span class="up"><a href="#"><img src="../img/common/bg_arr_up.png"></a></span>
						<span class="down"><a href="#"><img src="../img/common/bg_arr_down.png"></a></span>
						<span class="del"><a href="#"><img src="../img/common/btn_close2.png"></a></span>
					</li>
					<li>
						<div class="listname">경쟁사</div>
						<span class="up"><a href="#"><img src="../img/common/bg_arr_up.png"></a></span>
						<span class="down"><a href="#"><img src="../img/common/bg_arr_down.png"></a></span>
						<span class="del"><a href="#"><img src="../img/common/btn_close2.png"></a></span>
					</li>	
				</ul>
				<div class="btnWrap">
					<button type="button" class="button">취소</button>
					<button type="button" class="button-red">저장</button>	
				</div>					
			</div>
		</div>
		<div class="bg_dark" onclick="layer_pop();"></div>
	</body>
</html>	
	  	